<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/4d8f9122-5626-43ff-9580-0bfe38c48038/resourceGroups/Aplicaciones/providers/Microsoft.Web/sites/TechnicalTestITSenseAPIRest</ResourceId>
    <ResourceGroup>Aplicaciones</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://technicaltestitsenseapirest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6afe8efe-bd55-4de8-8c83-ec9768680e7e</ProjectGuid>
    <PublishUrl>https://technicaltestitsenseapirest.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TechnicalTestITSenseAPIRest</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>